<ion-header>
  <ion-navbar>
    <ion-title>调拨审批详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="detailListBox">
    <ion-list class="detailList" *ngFor="let detail of detailList;let i = index">
      <ion-item class="inputItem miniContentBox" (click)="displayContent(i)">
        <div>
          <div class="itemContentDiv">
            资产编码：{{detail.assetsCode}}
          </div>
          <div class="itemContentDiv">
            资产名称：{{detail.assetsName}}
          </div>
          <div class="itemContentDiv">
            所属单位：<div class="departNameDiv">{{detail.departName}}</div>
          </div>
        </div>
      </ion-item>
      <div class="disContent">
        <ion-content>
        <ion-list class="callList">
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">资产编码：</ion-label>
            <ion-label class="itemContentLabel">{{detail.assetsCode}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">资产名称：</ion-label>
            <ion-label class="itemContentLabel">{{detail.assetsName}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">所属单位：</ion-label>
            <ion-label class="itemContentLabel">{{detail.departName}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">备&emsp;&emsp;注：</ion-label>
            <ion-label class="itemContentLabel">{{detail.remark}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">存放地点：</ion-label>
            <ion-label class="itemContentLabel">{{detail.storePlace}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">规格型号：</ion-label>
            <ion-label class="itemContentLabel">{{detail.assetsStandard}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">车牌井号：</ion-label>
            <ion-label class="itemContentLabel">{{detail.licenceNumber}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">制造厂家：</ion-label>
            <ion-label class="itemContentLabel">{{detail.makeFactory}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">所属单位编码：</ion-label>
            <ion-label class="itemContentLabel">{{detail.departCode}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">保管人&emsp;：</ion-label>
            <ion-label class="itemContentLabel">{{detail.userPerson}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">编&emsp;&emsp;码：</ion-label>
            <ion-label class="itemContentLabel">{{detail.barCode}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">出厂编号：</ion-label>
            <ion-label class="itemContentLabel">{{detail.productId}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">原&emsp;&emsp;值：</ion-label>
            <ion-label class="itemContentLabel">{{detail.originalValue}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">净&emsp;&emsp;值：</ion-label>
            <ion-label class="itemContentLabel">{{detail.nowValue}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">累计折旧：</ion-label>
            <ion-label class="itemContentLabel">{{detail.addDepreciate}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">减值准备：</ion-label>
            <ion-label class="itemContentLabel">{{detail.devalueValue}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">使用状态编码：</ion-label>
            <ion-label class="itemContentLabel">{{detail.usedState}}</ion-label>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="noFlexLabel">使用状态：</ion-label>
            <ion-label class="itemContentLabel">{{detail.usedStateName}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
      </div>
    </ion-list>
  </div>
</ion-content>
<footer class="censorshipFooter" padding>
  <div class="radioBox" radio-group [(ngModel)]="isAgree" *ngIf="!isReasonModel">
    <ion-item class="radioItem">
      <ion-label>同意:</ion-label>
      <ion-radio value=1></ion-radio>
    </ion-item>
    <ion-item class="radioItem">
      <ion-label>驳回:</ion-label>
      <ion-radio value=0 (ionSelect)="alertTextarea()"></ion-radio>
    </ion-item>
    <button class="censorshipFooterButton" (click)="alertTextarea()">
      <ion-icon class="censorshipFooterIcon" name="paper"></ion-icon><br>编辑原因
    </button>
    <button class="censorshipFooterButton" (click)="postData()">
      <ion-icon class="censorshipFooterIcon" name="checkmark-circle"></ion-icon><br>确认
    </button>
  </div>
  <div class="footerTextBox" *ngIf="isReasonModel">
    <textarea class="footerTextarea" [(ngModel)]="censorshipReason" placeholder="请输入原因。"></textarea>
    <div class="radioBox">
      <button class="censorshipFooterButton" (click)="cancelReasonModel()">
        <ion-icon class="censorshipFooterIcon" name="close-circle"></ion-icon><br>取消
      </button>
      <button class="censorshipFooterButton" (click)="clearReason()">
        <ion-icon class="censorshipFooterIcon" name="remove-circle"></ion-icon><br>清空
      </button>
      <button class="censorshipFooterButton" (click)="saveReason()">
        <ion-icon class="censorshipFooterIcon" name="checkmark-circle"></ion-icon><br>保存
      </button>
    </div>
  </div>
</footer>
