page-menu {
  .menuBox{
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: 1px solid #dedede;
  }
  .menuName{
    padding-left: 5%;
    font-size: 16px;
    font-weight: bold;
  }
  .appsButton{
    border-left: 0 !important;
    border-right: 0 !important;
  }
}
