<ion-header>
  <ion-navbar>
    <ion-title>
      油站录入情况查询
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="contentBox">
    <div class="formHeader">
      <ion-item class="inputItem dateBox">
        <ion-label class="noFlexLabel">目标日期</ion-label>
        <ion-datetime class="dataNormal" placeholder="请选择日期" displayFormat="YYYY-MM-DD" cancelText="关闭" doneText="确定" [max]="maxDate" [(ngModel)]="dateValue"></ion-datetime>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label class="noFlexLabel">目标部门</ion-label>
        <ion-label class="departNameDiv" (click)="showDepart()">{{departText}}</ion-label>
      </ion-item>
      <ion-item class="inputItem dateBox">
        <ion-label class="noFlexLabel">统计状态</ion-label>
        <ion-select class="formSelect" interface="popover"  [(ngModel)]="orderType">
          <ion-option *ngFor="let state of stateData" [value]="state.stateCode">{{state.stateName}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label class="noFlexLabel">总数</ion-label>
        <ion-label class="departNameDiv">{{bodyData.length}}</ion-label>
      </ion-item>
    </div>
    <div id="contenter" style="visibility: hidden">
      <div id="theadDiv">
        <table id="grid1" border="1" cellpadding="0" cellspacing="0">
          <thead id="theadT">
          <tr style="text-align: center;">
            <th>序号</th>
            <th *ngFor="let item of titleData">{{item.itemName}}</th>
          </tr>
          </thead>
          <tbody style="visibility: hidden;">
          <tr *ngFor="let item of bodyData;let i = index">
            <td style="text-align:center;">{{i+1}}</td>
            <td style="text-align:center;" *ngFor="let item2 of titleData">{{item[item2.itemValue]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="tbodyDiv">
        <table id="grid2"  border="1" cellpadding="0" cellspacing="0">
          <thead id="theadB" style="visibility: hidden">
          <tr style="text-align: center;">
            <th>序号</th>
            <th *ngFor="let item of titleData">{{item.itemName}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of bodyData;let i = index">
            <td style="text-align:center;">{{i+1}}</td>
            <td style="text-align:center;" *ngFor="let item2 of titleData">{{item[item2.itemValue]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>
<footer class="formFooter" *ngIf="!isOnfocus">
  <button class="formFooterButton" (click)="searchData()">
    <ion-icon class="formFooterIcon" name="search"></ion-icon><br>查询
  </button>
</footer>
