page-inventoryDataUpload{
  .list-ios .item-block .item-inner{
    border-bottom: 0.55px solid #c8c7cc !important;
    padding-right: 0 !important;
  }
  .list-md .item-block .item-inner{
    border-bottom: 0.55px solid #c8c7cc !important;
    padding-right: 0 !important;
  }
  .item-ios{
    border-bottom: none !important;
  }
  .item-md{
    border-bottom: none !important;
  }
  .label-ios{
    margin-right: 0 !important;;
  }
  .label-md{
    margin-right: 0 !important;;
  }
  .planListBox{
    margin-bottom: 60px;
  }
  .listFooter{
    width: 100%;
    display: flex;
    padding: 5px !important;
    border-top: 1px solid #d9d9d9;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    background: white;
  }
  .listFooterButton {
    background: transparent;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    color: #4389e8;
    font-size: 1em;
  }
  .listFooterIcon{
    font-size: 2em;
    color: #4389e8;
    margin-bottom: 2px;
  }
}
