page-scrapQueryDetail{
  .scroll-content{
    background-color: rgb(246,246,246) ;
    .scroll-content{
      background-color: white ;
    }
  }
  .list-ios .item-block .item-inner{
    border-bottom: 0 !important;
    padding-right: 0 !important;
  }
  .list-md .item-block .item-inner{
    border-bottom: 0 !important;
    padding-right: 0 !important;
  }
  .item-ios{
    border-bottom: none !important;
  }
  .item-md{
    border-bottom: none !important;
  }
  .label-ios{
    margin-right: 0 !important;;
  }
  .label-md{
    margin-right: 0 !important;;
  }
  .detailListBox{
    margin-bottom: 70px;
  }
  .detailButton{
    text-align: center;
    margin: 0 !important;
  }
  .detailIcon{
    color: #dedede;
    font-size: 1.6em;
  }
  .planStatus{
    font-size: 16px;
  }
  .detailFooter{
    width: 100%;
    display: flex;
    padding: 5px !important;
    border-top: 1px solid #d9d9d9;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    background: white;
  }
  .detailFooterButton {
    background: transparent;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    color: #4389e8;
    font-size: 1em;
  }
  .detailFooterIcon{
    font-size: 2em;
    color: #4389e8;
    margin-bottom: 2px;
  }
  .radioItem .item-inner{
    padding: 0 !important;
    border-bottom: 0 !important;
  }
  .radioItem .radio-ios{
    margin-right: 0 !important;
  }
  .radioItem .radio-md{
    margin-right: 0 !important;
  }
  .footerTextBox{
    width: 100%;
    margin-top: 5px;
  }
  .footerTextarea{
    margin-top: 2px;
    font-size: 16px;
    width: 100%;
    height: 150px;
    border-width: 2px;
    border-radius: 5px;
  }
  .readonlyInput{
    width: 76%;
    padding-left: 16px;
  }
  .detailSelect{
    width: 100%;
    max-width: 100%;
  }
  .detailSelectLabel{
    flex: none;
  }
  .miniContentBox{
    width: 95% !important;
    margin: 0 auto;
    margin-top: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 16px;
  }
  //.inputItem:first-child{
  //  width: 100% !important;
  //  padding-right: 5%;
  //}
  .disContent{
    height: 280px;
    background-color: white;
    width: 95%;
    margin: 0 auto;
    padding: 8px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .detailList{
    margin: 0;
    .list-ios{
      margin: 0;
    }
  }
  .list-ios > .item-block:first-child{
    border-top: 0;
  }
}
