<!-- Generated template for the SelectNormalComponent component -->
<ion-item class="inputItem">
  <ion-label class="noFlexLabel"><span *ngIf="nec==0" class="star">*</span><span *ngIf="nec==1" class="star requireLabel">*</span>{{itemName+":"}}</ion-label>
   <ion-select class="formSelect" interface="popover" [placeholder]="'请选择'+itemName" [(ngModel)]="selectValue">
    <ion-option *ngFor="let option of selectData;" [value]="option[optionValue]" (ionSelect)="returnSelect(option[optionValue],option[optionName])">{{option[optionName]}}</ion-option>
  </ion-select>
</ion-item>
