page-inventoryDataDownload{
  .list-ios .item-block .item-inner{
    border-bottom: 0 !important;
    padding-right: 0 !important;
  }
  .item-ios{
    border-bottom: none !important;
    padding-right: 16px;
  }
  .label-ios{
    margin-right: 0 !important;;
  }
  .planButton{
    text-align: center;
    margin: 0 !important;
  }
  .planIcon{
    color: #4389e8;
    font-size: 1.6em;
  }
  .planStatus{
    font-size: 0.8em;
    color:white ;
    padding: 3px;
    border-radius: 5px;
    margin-right: -6px;
  }
  .download{
    background: rgba(0,0,0,0.3);
  }
  .readonlyInput{
    width: 56%;
    display: inline-block;
    vertical-align: bottom;
  }
}
