<ion-header>
  <ion-navbar>
    <ion-title>数据下载</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="planListBox">
    <ion-list class="planList">
      <ion-item class="inputItem" *ngFor="let plan of planList" (click)="detailPage(plan)">
        <div>
          盘点计划编码：<span class="readonlyInput labelNormal" >{{plan.planNumber}}</span>
        </div>
        <div>
          盘点计划名称：<span class="readonlyInput labelNormal" >{{plan.planName}}</span>
        </div>
        <div *ngIf="plan.isDownLoad" class="planButton" item-end >
          <div class="planStatus download">上次下载</div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
