<!-- Generated template for the CardSelectComponent component -->
<div *ngFor="let detail of data;let i = index">
  <div class="callContentBox">
    <div class="callContentMiniBox">
      <ion-list class="callContent">
        <ion-list class="callList" (click)="displayContent(i)">
          <div *ngFor="let parent of cardData.cardParent">
            <div *ngIf="parent.itemValue.toLowerCase().indexOf('departname')==-1">
              <label-normal [itemName]="parent.itemName" [labelValue]="detail[parent.itemValue]"></label-normal>
            </div>
            <div *ngIf="parent.itemValue.toLowerCase().indexOf('departname')>-1">
              <label-right-show [itemName]="parent.itemName" [labelValue]="detail[parent.itemValue]"></label-right-show>
            </div>
          </div>
        </ion-list>
      </ion-list>
      <div class="cardButton" item-end (click)="checkedItem(i)">
        <ion-icon name="checkmark-circle" *ngIf="detail.checkedIcon" class="cardCheckedIcon"></ion-icon>
        <ion-icon name="checkmark-circle" *ngIf="!detail.checkedIcon" class="cardDisCheckedIcon"></ion-icon>
      </div>
    </div>
    <ion-content *ngIf="cardData.cardChild" class="callContent disContent">
      <ion-list class="callList">
        <div *ngFor="let child of cardData.cardChild">
          <label-newline [itemName]="child.itemName" [labelValue]="detail[child.itemValue]"></label-newline>
        </div>
      </ion-list>
    </ion-content>
  </div>
</div>
