<ion-header>
  <ion-navbar>
    <ion-title>盘盈录入</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="formInfoBox">
    <div class="formInfoInput">
      <ion-item class="inputItem" >
        <ion-label class="formSelectLabel"><span class="star">*</span>盘点单位:</ion-label>
        <ion-select class="formSelect"  interface="popover" [(ngModel)]="invoice.managerDepart">
          <ion-option *ngFor="let department of departments" [value]="department.departCode">{{department.departName}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="inputItem">
        <ion-label><span class="star">*</span>资产条码:</ion-label>
        <ion-input [(ngModel)]="invoice.barCode" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
      </ion-item>

      <ion-item class="inputItem" >
        <ion-label class=""><span class="star requireLabel">*</span>资产名称:</ion-label>
        <ion-input [(ngModel)]="invoice.assetsName"></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label><span class="star">*</span>规格型号:</ion-label>
        <ion-input [(ngModel)]="invoice.assetsStandard" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
      </ion-item>
      <select-filter-nec [itemName]="'盘盈原因'" [selectData]="lossReasonData" [selectName]="'请选择盘盈原因'" [optionValue]="'complexname'" [optionName]="'complexcode'" (backValue)="getSelectValue($event,'lossReason')"></select-filter-nec>
      <select-filter-nec [itemName]="'存放地点'" [selectData]="storePlaceData" [selectName]="'请选择存放地点'" [optionValue]="'complexname'" [optionName]="'complexcode'" (backValue)="getSelectValue($event,'storePlace')"></select-filter-nec>
      <ion-item class="inputItem">
        <ion-label class=""><span class="star requireLabel">*</span>保管人&emsp;:</ion-label>
        <ion-input [(ngModel)]="invoice.userPerson" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label class="formSelectLabel "><span class="star requireLabel">*</span>使用状态:</ion-label>
        <ion-select class="formSelect" interface="popover"  [(ngModel)]="invoice.assetsStatus">
          <ion-option value="010101">生产经营用-科研</ion-option>
          <ion-option value="010102">生产经营用-其他</ion-option>
          <ion-option value="0102">非生产经营用</ion-option>
          <ion-option value="0201">季节性经营停用</ion-option>
          <ion-option value="0202">其他原因停用</ion-option>
          <ion-option value="0203">经营场所备用</ion-option>
          <ion-option value="0204">闲置</ion-option>
          <ion-option value="03">租出</ion-option>
          <ion-option value="04">借出</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label class="formSelectLabel "><span class="star requireLabel">*</span>技术状况:</ion-label>
        <ion-select class="formSelect" interface="popover" [(ngModel)]="invoice.technicalCondition">
          <ion-option value="01">完好</ion-option>
          <ion-option value="02">带病运行</ion-option>
          <ion-option value="03">在修</ion-option>
          <ion-option value="04">待修</ion-option>
          <ion-option value="05">待报废</ion-option>
          <ion-option value="06">损毁</ion-option>
          <ion-option value="07">待处置</ion-option>
          <ion-option value="08">已处置</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label><span class="star">*</span>备&emsp;&emsp;注:</ion-label>
        <ion-input [(ngModel)]="invoice.remark"></ion-input>
      </ion-item>
      <ion-item class="inputItem imgItem">
        <ion-label><span class="star">*</span>照片区&emsp;:</ion-label>
      </ion-item>
      <div class="imgBox">
        <div id="imgBox">
        </div>
      </div>
    </div>
  </div>
</ion-content>

<footer class="formFooter" padding *ngIf="!isOnfocus">
  <button class="formFooterButton" (click)="pickPhoto()">
    <ion-icon class="formFooterIcon" name="camera"></ion-icon><br>照片
  </button>
  <button class="formFooterButton" (click)="scan()">
    <ion-icon class="formFooterIcon" name="qr-scanner"></ion-icon><br>扫码
  </button>
  <button class="formFooterButton" (click)="saveInfo()">
    <ion-icon class="formFooterIcon" name="checkmark-circle"></ion-icon><br>保存
  </button>
</footer>
