<ion-header>
  <ion-navbar>
    <ion-title>
      首页
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="appsButtonBigBox">
    <div class="appsButtonBox">
      <button class="appsButton" (click)="willGoPage(1)">
        <div class="appsButtonIconBox2" >
          <img src="assets/homePageImgs/saoyisao.png">
        </div><br>快速扫码
      </button>
      <button class="appsButton" (click)="willGoPage(2)">
        <div class="appsButtonIconBox2" >
          <img src="assets/homePageImgs/dbsq.png">
        </div><br>调拨申请
      </button>
      <button class="appsButton" (click)="willGoPage(3)">
        <div class="appsButtonIconBox2" >
          <img src="assets/homePageImgs/bfsq.png">
        </div><br>报废申请</button>
    </div>
  </div>
  <div class="splitBar"></div>
  <div class="appsButtonBigBox">
    <div class="appsButtonBox">
      <button class="appsButton" (click)="willGoPage(4)">
        <ion-badge  *ngIf="inventoryNum!=0&&inventoryNum<100" item-end>{{inventoryNum}}</ion-badge>
        <ion-badge  *ngIf="inventoryNum>=100" item-end>99+</ion-badge>
        <div class="appsButtonIconBox2" >
          <img src="assets/homePageImgs/zzpd@2x.png">
        </div>
        <br>正在盘点
      </button>
      <button class="appsButton" (click)="willGoPage(5)">
        <ion-badge *ngIf="num1!=0&&num1<100" item-end>{{num1}}</ion-badge>
        <ion-badge  *ngIf="num1>=100" item-end>99+</ion-badge>
        <div class="appsButtonIconBox2" >
          <img src="assets/homePageImgs/wpjh@2x.png">
        </div>
        <br>未盘计划
      </button>
      <button class="appsButton" (click)="willGoPage(6)">
        <ion-badge *ngIf="num2!=0&&num2<100" item-end>{{num2}}</ion-badge>
        <ion-badge  *ngIf="num2>=100" item-end>99+</ion-badge>
        <div class="appsButtonIconBox2" >
          <img src="assets/homePageImgs/dbsp@2x.png">
        </div>
        <br>调拨审批
      </button>
    </div>
    <div class="appsButtonBox">
      <button class="appsButton" (click)="willGoPage(7)">
        <ion-badge *ngIf="num3!=0&&num3<100" item-end>{{num3}}</ion-badge>
        <ion-badge  *ngIf="num3>=100" item-end>99+</ion-badge>
        <div class="appsButtonIconBox2" >
          <img src="assets/homePageImgs/dcqr@2x.png">
        </div>
        <br>调出确认
      </button>
      <button class="appsButton" (click)="willGoPage(8)">
        <ion-badge *ngIf="num4!=0&&num4<100" item-end>{{num4}}</ion-badge>
        <ion-badge  *ngIf="num4>=100" item-end>99+</ion-badge>
        <div class="appsButtonIconBox2" >
          <img src="assets/homePageImgs/drqr@2x.png">
        </div>
        <br>调入确认
      </button>
      <button class="appsButton" (click)="willGoPage(9)">
        <ion-badge *ngIf="num5!=0&&num5<100" item-end>{{num5}}</ion-badge>
        <ion-badge  *ngIf="num5>=100" item-end>99+</ion-badge>
        <div class="appsButtonIconBox2" >
          <img src="assets/homePageImgs/zzpd@2x.png">
        </div>
        <br>报废审批
      </button>
    </div>
  </div>
</ion-content>
