<ion-header>
  <ion-navbar>
    <ion-title>调拨申请</ion-title>
  </ion-navbar>
  <ion-toolbar class="pageIndex" no-border-top style="border-top: 1px solid #c8c7cc;">
    <ion-segment [(ngModel)]="shape">
      <ion-segment-button value="brief" >
        调拨单据
      </ion-segment-button>
      <ion-segment-button value="detailed" >
        单据明细
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formInfoBox" [ngSwitch]="shape">
    <div class="switchBox" *ngSwitchCase="'brief'">
      <div class="formInfoInput">
        <ion-item class="inputItem">
          <ion-label class="formSelectLabel">单据类型:</ion-label>
          <ion-select class="formSelect" interface="popover"  [(ngModel)]="invoice.invoiceType">
            <ion-option value="1401">有形</ion-option>
            <ion-option value="1402">无形</ion-option>
            <ion-option value="1403">长(待)摊费用</ion-option>
            <ion-option value="1404">整体</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>调出单位:</ion-label>
          <ion-input (change)="filterDepartName($event,'out')" [(ngModel)]="outDepartName" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()" placeholder="请输入要筛选的字符"></ion-input>
          <ion-select class="noSelectText" interface="popover"  [(ngModel)]="invoice.outDepartcode">
            <ion-option *ngFor="let outDepart of outDepartData" [value]="outDepart.departcode" (ionSelect)="selectDepart(outDepart.departname,'out')">{{outDepart.departname}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>调入单位:</ion-label>
          <ion-input (change)="filterDepartName($event,'in')" [(ngModel)]="inDepartName" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()" placeholder="请输入要筛选的字符"></ion-input>
          <ion-select class="noSelectText" interface="popover"  [(ngModel)]="invoice.inDepartcode">
            <ion-option *ngFor="let inDepart of inDepartData" [value]="inDepart.departcode" (ionSelect)="selectDepart(inDepart.departname,'in')">{{inDepart.departname}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>调拨原因:</ion-label>
          <ion-input [(ngModel)]="invoice.reason" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>备&emsp;&emsp;注:</ion-label>
          <ion-input [(ngModel)]="invoice.remark" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>数&emsp;&emsp;量:</ion-label>
          <ion-input type="number" [(ngModel)]="invoice.sl" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>原&emsp;&emsp;值:</ion-label>
          <ion-input type="number" [(ngModel)]="invoice.originalValue" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>净&emsp;&emsp;值:</ion-label>
          <ion-input type="number" [(ngModel)]="invoice.nowValue" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>累计折旧:</ion-label>
          <ion-input type="number" [(ngModel)]="invoice.addDepreciate" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>制单人&emsp;:</ion-label>
          <ion-input readonly [(ngModel)]="invoice.createUserName"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>制单时间:</ion-label>
          <ion-input readonly [(ngModel)]="invoice.createTime"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>申请单位:</ion-label>
          <ion-input readonly [(ngModel)]="invoice.createDepart"></ion-input>
        </ion-item>
      </div>
    </div>

    <div class="switchBox" *ngSwitchCase="'detailed'">
      <div class="inputItem radioBox" radio-group [(ngModel)]="radioButton">
        <ion-item class="radioItem">
          <ion-label>资产条码:</ion-label>
          <ion-radio value="资产条码"></ion-radio>
        </ion-item>
        <ion-item class="radioItem">
          <ion-label>资产编码:</ion-label>
          <ion-radio value="资产编码"></ion-radio>
        </ion-item>
      </div>
      <ion-item class="inputItem" *ngIf="radioButton == '资产条码'">
        <ion-input [(ngModel)]="barCode" [placeholder]="radioButton" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
        <button item-end class="formInputButton" (click)="searchDetail()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-item>
      <ion-item class="inputItem" *ngIf="radioButton == '资产编码'">
        <ion-input [(ngModel)]="assetsCode" [placeholder]="radioButton" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
        <button item-end class="formInputButton" (click)="searchDetail()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-item>
      <div *ngFor="let detail of detailList;let i = index">
        <div class="callContentBox">
          <ion-content class="callContent">
            <ion-list class="callList" (click)="displayContent(i)">
              <ion-item class="inputItem">
                <ion-label>资产编码:</ion-label>
                <ion-input readonly [(ngModel)]="detail.assetsCode"></ion-input>
              </ion-item>
              <ion-item class="inputItem">
                <ion-label>资产名称:</ion-label>
                <ion-input readonly [(ngModel)]="detail.assetsName"></ion-input>
              </ion-item>
            </ion-list>
          </ion-content>
          <div class="censorshipButton" item-end (click)="checkedItem(i)">
            <ion-icon name="checkmark-circle" *ngIf="detail.checkedIcon" class="censorshipCheckedIcon"></ion-icon>
            <ion-icon name="checkmark-circle" *ngIf="!detail.checkedIcon" class="censorshipDisCheckedIcon"></ion-icon>
          </div>
        </div>
        <ion-content class="callContent disContent">
          <ion-list class="callList">
            <ion-item class="inputItem">
              <ion-label>资产编码:</ion-label>
              <ion-input readonly [(ngModel)]="detail.assetsCode"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>资产名称:</ion-label>
              <ion-input readonly [(ngModel)]="detail.assetsName"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>所属单位:</ion-label>
              <ion-input readonly [(ngModel)]="detail.departName"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>备&emsp;&emsp;注:</ion-label>
              <ion-input readonly [(ngModel)]="detail.remark"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>存放地点:</ion-label>
              <ion-input readonly [(ngModel)]="detail.storePlace"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>规格型号:</ion-label>
              <ion-input readonly [(ngModel)]="detail.assetsStandard"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>车牌井号:</ion-label>
              <ion-input readonly [(ngModel)]="detail.licenceNumber"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>制造厂家:</ion-label>
              <ion-input readonly [(ngModel)]="detail.makeFactory"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>所属单位编码:</ion-label>
              <ion-input readonly [(ngModel)]="detail.departCode"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>保管人&emsp;:</ion-label>
              <ion-input readonly [(ngModel)]="detail.userPerson"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>编&emsp;&emsp;码:</ion-label>
              <ion-input readonly [(ngModel)]="detail.barCode"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>出厂编号:</ion-label>
              <ion-input readonly [(ngModel)]="detail.productId"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>原&emsp;&emsp;值:</ion-label>
              <ion-input readonly [(ngModel)]="detail.originalValue"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>净&emsp;&emsp;值:</ion-label>
              <ion-input readonly [(ngModel)]="detail.nowValue"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>累计折旧:</ion-label>
              <ion-input readonly [(ngModel)]="detail.addDepreciate"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>减值准备:</ion-label>
              <ion-input readonly [(ngModel)]="detail.devalueValue"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>使用状态编码:</ion-label>
              <ion-input readonly [(ngModel)]="detail.usedState"></ion-input>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label>使用状态:</ion-label>
              <ion-input readonly [(ngModel)]="detail.usedStateName"></ion-input>
            </ion-item>
          </ion-list>
        </ion-content>
      </div>
    </div>
  </div>
</ion-content>
<footer class="formFooter" padding *ngIf="!isOnfocus">
  <button class="formFooterButton" (click)="censorship()" *ngIf="shape=='brief'">
    <ion-icon class="formFooterIcon" name="checkmark-circle"></ion-icon><br>送审
  </button>

  <button class="formFooterButton" (click)="scan()" *ngIf="shape=='detailed'&&radioButton == '资产条码'">
    <ion-icon class="formFooterIcon" name="qr-scanner"></ion-icon><br>扫码
  </button>
  <button class="formFooterButton" (click)="saveInfo()" *ngIf="shape=='detailed'">
    <ion-icon class="formFooterIcon" name="checkmark-circle"></ion-icon><br>保存
  </button>
  <button class="formFooterButton" (click)="uploadData()" *ngIf="shape=='detailed'">
    <ion-icon class="formFooterIcon" name="cloud-upload"></ion-icon><br>上传
  </button>
  <button class="formFooterButton" (click)="uploadDataToEAM()" *ngIf="shape=='detailed'">
    <ion-icon class="formFooterIcon" name="cloud-upload"></ion-icon><br>上传到EAM
  </button>
</footer>
