<ion-header>
  <ion-navbar>
    <ion-title>
      油站月汇总1
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="formHeader">
  <ion-item class="inputItem dateBox">
    <ion-label class="noFlexLabel">目标月份</ion-label>
    <ion-datetime class="dataNormal" placeholder="请选择月份" displayFormat="YYYY-MM" cancelText="关闭" doneText="确定" [(ngModel)]="dateValue" (ionChange)="returnDate()"></ion-datetime>
  </ion-item>
</div>
  <div class="contentBox">
    <div id="contenter">
      <div id="theadDiv0">
        <table id="grid10" border="1" cellpadding="0" cellspacing="0">
          <thead id="theadT0">
          <tr style="text-align: center;">
            <th *ngFor="let item of t10data" [attr.rowspan]="item.rows">{{item.title}}</th>
            <th style="visibility: hidden"></th>
          </tr>
          <tr style="text-align: center;">
            <th style="visibility: hidden"></th>
          </tr>
          </thead>
          <tbody style="visibility: hidden">
          <tr *ngFor="let item of body0">
            <td style="text-align:center;" *ngFor="let item2 of b0data">{{item[item2.field]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="tbodyDiv0">
        <table id="grid20"  border="1" cellpadding="0" cellspacing="0">
          <thead id="theadB0" style="visibility: hidden">
          <tr style="text-align: center;">
            <th *ngFor="let item of t10data" [attr.rowspan]="item.rows">{{item.title}}</th>
            <th style="visibility: hidden"></th>
          </tr>
          <tr style="text-align: center;">
            <th style="visibility: hidden"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of body0;" class="body0">
            <td style="text-align:center;" *ngFor="let item2 of b0data">{{item[item2.field]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="theadDiv">
        <table id="grid1" border="1" cellpadding="0" cellspacing="0">
          <thead id="theadT">
          <tr style="text-align: center;">
              <th *ngFor="let item of t1data" [attr.rowspan]="item.rows" [attr.colspan]="item.count">{{item.title}}</th>
          </tr>
          <tr style="text-align: center;">
            <th *ngFor="let item of t2data">{{item.title}}</th>
          </tr>
          </thead>
          <tbody style="visibility: hidden">
          <tr *ngFor="let item of body1">
            <td style="text-align:center;" *ngFor="let item2 of bdata">{{item[item2.field]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="tbodyDiv">
        <table id="grid2"  border="1" cellpadding="0" cellspacing="0">
          <thead id="theadB" style="visibility: hidden">
          <tr style="text-align: center;">
            <th *ngFor="let item of t1data" [attr.rowspan]="item.rows" [attr.colspan]="item.count">{{item.title}}</th>
          </tr>
          <tr style="text-align: center;">
            <th *ngFor="let item of t2data">{{item.title}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of body1;" class="body1">
            <td style="text-align:center;" *ngFor="let item2 of bdata">{{item[item2.field]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>
