<ion-header>
  <ion-navbar>
    <ion-title>调拨审批</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="censorshipListBox">
    <ion-list class="censorshipList">
      <ion-item class="inputItem" *ngIf="!isHave">
        <ion-label>暂无数据</ion-label>
      </ion-item>
      <ion-item class="inputItem" *ngFor="let censorship of censorshipList;let i = index">
        <div (click)="censorshipDetailPage(censorship)">
          <div>
            单据号&emsp;：{{censorship.invoiceNumber}}
          </div>
          <div>
            申请人&emsp;：{{censorship.operateUser}}
          </div>
          <div>
            调出单位：<input readonly class="readonlyInput" [(ngModel)]="censorship.outDepartname">
          </div>
          <div>
            调入单位：<input readonly class="readonlyInput" [(ngModel)]="censorship.inDepartname">
          </div>
          <div>
            明细数量：{{censorship.detailAmountSum?censorship.detailAmountSum:censorship.allotAmount}}
          </div>
        </div>
        <div class="censorshipButton" item-end (click)="checkedItem(i)">
          <ion-icon name="checkmark-circle" class="censorshipIcon"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<footer class="censorshipFooter" padding>
  <div class="radioBox" radio-group [(ngModel)]="isAgree" *ngIf="!isReasonModel">
    <ion-item class="radioItem">
      <ion-label>同意：</ion-label>
      <ion-radio value=1></ion-radio>
    </ion-item>
    <ion-item class="radioItem">
      <ion-label>驳回:</ion-label>
      <ion-radio value=0 (ionSelect)="alertTextarea()"></ion-radio>
    </ion-item>
    <button class="censorshipFooterButton" (click)="alertTextarea()">
      <ion-icon class="censorshipFooterIcon" name="paper"></ion-icon><br>编辑原因
    </button>
    <button class="censorshipFooterButton" (click)="postData()">
      <ion-icon class="censorshipFooterIcon" name="checkmark-circle"></ion-icon><br>确认
    </button>
  </div>
  <div class="footerTextBox" *ngIf="isReasonModel">
    <textarea class="footerTextarea" [(ngModel)]="censorshipReason" placeholder="请输入原因。"></textarea>
    <div class="radioBox">
      <button class="censorshipFooterButton" (click)="cancelReasonModel()">
        <ion-icon class="censorshipFooterIcon" name="close-circle"></ion-icon><br>取消
      </button>
      <button class="censorshipFooterButton" (click)="clearReason()">
        <ion-icon class="censorshipFooterIcon" name="remove-circle"></ion-icon><br>清空
      </button>
      <button class="censorshipFooterButton" (click)="saveReason()">
        <ion-icon class="censorshipFooterIcon" name="checkmark-circle"></ion-icon><br>保存
      </button>
    </div>
  </div>
</footer>
