page-simpleSummary {
  .scroll-content{
    background-color: rgb(246,246,246) ;
    overflow: hidden;
  }
  .contentBox {
    text-align: center;
    height: 100%;
    padding: 0;
  }
  //table > thead > tr > th,
  //table > tbody > tr > td {
  //  width: 3%!important;
  //}
  table > thead > tr > th,
  table > tbody > tr > td {
    padding: 0 2.5px;
  }
  table > tbody > tr > td:first-child {
    text-align: left !important;
    padding-left: 5px;
  }
  th {
    //background-color: #4ca9f7;
    color: white;
  }
  td,
  th {
    height: 35px;
    text-align: center;
  }
  #contenter {
    position: relative;
    //width: 800px;
    height: 100%;
    margin: auto;
    background-color: white;
    //border: 1px solid black;
    overflow: auto;
  }


  #grid1,
  #grid2 {
    width: 100%;
    border: 1px solid gray;
  }

  #theadDiv {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    overflow: hidden; //这里hidden是用于隐藏滚动条
    z-index: 100;
  }

  #tbodyDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }

  #theadT{
    background: #bbb;
  }
}
