// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//自定义css
//详情容器
.callContentBox{
  height: 80px;
  border: 1px solid #c8c7cc;
  margin-left: 16px;
  margin-top: 16px;
  width: calc(95% - 16px);
  display: flex;
  .scroll-content{
    overflow: hidden;
  }
  .item-block{
    min-height: 1rem;
  }
  .label-ios{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .text-input-ios{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
  }
}
.callContent{
  border: 1px solid #c8c7cc;
}
.disContent{
  display: none;
  height: 392px;
  border: 1px solid #c8c7cc;
  margin-left: 16px;
  margin-top: 16px;
  width: calc(95% - 16px);

  .item-block{
    min-height: 1rem;
  }
  .label-ios{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .text-input-ios{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
  }
}
//单选容器
.radioBox{
  display: flex;
  width: 100%;
}
.radioItem .item-inner{
  padding: 0 !important;
}
.radioItem .radio-ios{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.radioItem .radio-md{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
//必填label
.requireLabel{
  color:red;
}
//输入框
.inputItem{
  width: 95%;
}
.readonlyInput{
  border:0;
  width: 66%;
}
//button样式
.myStyleButton{
  background: linear-gradient(to right,rgb(79,166,243),rgb(42,80,213));
}
//userInfo显示
.userInfoBox{
  width: 100%;
  display: table;
  background: linear-gradient(to right,rgb(79,166,243),rgb(42,80,213));
  padding: 8px 16px 8px 16px;
  margin-bottom: 10px;
}
.userPhotoBox{
  margin: 0 auto;
  width: 62px;
  height: 62px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 3px;
}
.userPhoto{
  width: 100%;
  border-radius: 50%;
}
.userTextBox{
  width: 70%;
  font-size: 16px;
  color: white;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}
.userDepart{
  font-size: 12px;
  font-weight: lighter;
}
//菜单样式
.appsButtonBox{
  width: 100%;
  text-align: center;
  display: flex;
}
.appsButtonIconBox{
  display: table-cell;
  img{
    width: 20px;
  }
}
.appsButtonIconBox2{
  display: block;
  //width: 50px;
  //margin: 0 auto;
  img{
    width: 40px;
    height: 40px;
  }
}
.appsButton{
  width: 100%;
  padding: 4%;
  margin-top: -1%;
  background: white;
}
.appsButton:nth-child(even){
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}
//输入筛选下拉框
.noSelectText{
  padding-left: 0;
}
.noSelectText .select-text{
  display: none;
}
//覆盖css
//下拉框文字...问题
.item-radio.item-ios ion-label{
  white-space: normal;
}
//返回键
.back-button.show-back-button{
  color: white;
}
//下拉框和字体
.popover-ios .popover-content{
  width: 75%;
  .item-block{
    font-size: 14.5px;
  }
}
.popover-md .popover-content{
  width: 75%;
  .item-block{
    font-size: 14.5px;
  }
}
//tabs下button
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #4389e8;
}
.tabs-md .tab-button[aria-selected=true] {
  color: #4389e8;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #4389e8;
}
.tabs-ios .tab-button[aria-selected=true] {
  color: #4389e8;
}
//标题栏
.toolbar-background-ios{
  background: linear-gradient(to right,rgb(79,166,243),rgb(42,80,213));
}
.toolbar-title-ios{
  color: white;
  font-size: 1.3em;
}
.toolbar-background-md{
  background: #0091d2;
}
.toolbar-title-md{
  color: white;
  font-size: 1.3em;
}
//选项卡
.segment-ios .segment-button.segment-activated{
  background: #0091d2;
}
.segment-ios .segment-button{
  color: #0091d2;
  border-color: #0091d2;
}
.segment-md .segment-button.segment-activated{
  background: #0091d2;
}
.segment-md .segment-button{
  color: #0091d2;
  border-color: #0091d2;
}
//radiobutton
.item-radio-checked.item-ios ion-label{
  color: #0091d2;
}
.radio-ios .radio-checked .radio-inner{
  border-color: #0091d2;
}
.item-radio-checked.item-md ion-label{
  color: #0091d2;
}
.radio-md .radio-checked .radio-inner{
  border-color: #0091d2;
}
//alertbutton
.alert-ios .alert-button{
  color: #0091d2;
}
.alert-md .alert-button{
  color: #0091d2;
}
//datetimebutton
.picker-ios .picker-button{
  color: #0091d2;
}
.picker-md .picker-button{
  color: #0091d2;
}
//图片区
.imgBox{
  padding-left: 16px;
}
.imgInclusion{
  width: 100%;
  max-width: 28%;
  margin-right: 4%;
  display: inline-block;
}
.imgShow{
  border-radius: 15px;
  border: gray 1px solid;
}
.imgDeleteButton{
  width: 20%;
  border-radius: 15px;
  position: relative;
  left: 90%;
  top:-1.2em;
}
.imgItem{
  .item-inner{
    border-bottom: none !important;
  }
}
