// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item-ios{
  font-size: 15px !important;
}
//自定义css
//详情容器
.callContentBox{
  //height: 80px;
  //border: 1px solid #c8c7cc;
  //margin-left: 16px;
  margin: 0 auto;
  margin-top: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: calc(95% - 8px);
  background-color: white;
  border-radius: 10px;
  //-webkit-appearance: none;
  //-moz-box-shadow: 0 0 25px -15px;
  //-webkit-box-shadow: 0 0 25px -15px;
  //box-shadow: 0 0 25px -15px;
  //.scroll-content{
  //  overflow: hidden;
  //}
  //.item-block{
  //  min-height: 1rem;
  //}
  .label-ios{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  //.text-input-ios{
  //  margin-top: 5px;
  //  margin-bottom: 5px;
  //  //margin-left: 8px !important;
  //  margin-right: 0;
  //  width: 100% !important;
  //}
}
.callContentBox .inputItem{
  padding-left:0;
}
.callContentBox .formSelect{
  padding-left:0;
  padding-top: 0;
  padding-bottom: 0;
}
.callContentMiniBox{
  display: flex;
}
.callContent{
  //border-top: 1px solid #c8c7cc;
  //width: 80%;
  border-radius: 10px;
  margin-bottom: 0;
  max-width: 92%;
  .inputItem{
    min-height: 1em;
  }
}
.disContent{
  display: none;
  min-height: 370px;
  border-top: 1px solid rgba(0,0,0,0.08);
  margin-left: 16px;
  //margin-top: 8px;
  width: calc(95% - 16px) !important;

  .item-block{
    min-height: 1rem;
  }
  .label-ios{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  //.text-input-ios{
  //  margin-top: 5px;
  //  margin-bottom: 5px;
  //  width: 100% !important;
  //}
}
//单选容器
.radioBox{
  display: flex;
  width: 100%;
}
.radioItem{
  padding-right: 16px;
}
.radioItem .item-inner{
  padding: 0 !important;
}
.radioItem .radio-ios{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.radioItem .radio-md{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
//非必填label
.star{
  color: white;
  padding: 5px;
}
//必填label
.requireLabel{
  color:red !important;
}
//输入框
.inputItem{
  width: 100%;
  .item-inner{
    border:none!important;
  }
}
.readonlyInput{
  border:0;
  width: 66%;
}
//button样式
.myStyleButton{
  background: linear-gradient(to right,rgb(79,166,243),rgb(42,80,213));
}
//userInfo显示
.userInfoBox{
  width: 100%;
  display: table;
  background: linear-gradient(to right,rgb(79,166,243),rgb(42,80,213));
  padding: 8px 16px 8px 16px;
  margin-bottom: 10px;
}
.userPhotoBox{
  margin: 0 auto;
  width: 62px;
  height: 62px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 3px;
  background: white;
}
.userPhoto{
  width: 100%;
  border-radius: 50%;
}
.userTextBox{
  width: 70%;
  font-size: 16px;
  color: white;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}
.userDepart{
  font-size: 12px;
  font-weight: lighter;
}
//菜单样式
.appsButtonBox{
  width: 100%;
  text-align: center;
  display: flex;
}
.appsButtonIconBox{
  display: table-cell;
  img{
    width: 20px;
  }
}
.appsButtonIconBox2{
  display: block;
  //width: 50px;
  //margin: 0 auto;
  img{
    width: 40px;
    height: 40px;
  }
}
.appsButton{
  width: 100%;
  padding: 4%;
  margin-top: -1%;
  background: white;
}
.appsButton:nth-child(even){
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}
//输入筛选下拉框
.noSelectText{
  padding-left: 0;
}
.noSelectText .select-text{
  display: none;
}
//覆盖css
//下拉框文字...问题
.item-radio.item-ios ion-label{
  white-space: normal;
}
//返回键
.back-button.show-back-button{
  color: white;
}
//下拉框和字体
.popover-ios .popover-content{
  width: 75%;
  .item-block{
    font-size: 14.5px;
  }
}
.popover-md .popover-content{
  width: 75%;
  .item-block{
    font-size: 14.5px;
  }
}
//tabs下button
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #4389e8;
}
.tabs-md .tab-button[aria-selected=true] {
  color: #4389e8;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #4389e8;
}
.tabs-ios .tab-button[aria-selected=true] {
  color: #4389e8;
}
//标题栏
.toolbar-background-ios{
  background: linear-gradient(to right,rgb(79,166,243),rgb(42,80,213));
}
.toolbar-title-ios{
  color: white;
  font-size: 1.3em;
}
.toolbar-background-md{
  background: #4389e8;
}
.toolbar-title-md{
  color: white;
  font-size: 1.3em;
}
//选项卡
.segment-ios .segment-button.segment-activated{
  background: linear-gradient(to right,rgb(79,166,243),rgb(42,80,213));
}
.segment-ios .segment-button{
  color: #4389e8;
  border-color: #4389e8;
  background:white;
}
.segment-md .segment-button.segment-activated{
  background: linear-gradient(to right,rgb(79,166,243),rgb(42,80,213));
}
.segment-md .segment-button{
  color: #4389e8;
  border-color: #4389e8;
  background:white;
}
//radiobutton
.item-radio-checked.item-ios ion-label{
  color: #4389e8;
}
.radio-ios .radio-checked .radio-inner{
  border-color: #4389e8;
}
.item-radio-checked.item-md ion-label{
  color: #4389e8;
}
.radio-md .radio-checked .radio-inner{
  border-color: #4389e8;
}
//alertbutton
.alert-ios .alert-button{
  color: #4389e8;
}
.alert-md .alert-button{
  color: #4389e8;
}
//datetimebutton
.picker-ios .picker-button{
  color: #4389e8;
}
.picker-md .picker-button{
  color: #4389e8;
}
//图片区
.imgBox{
  padding-left: 16px;
}
.imgInclusion{
  width: 100%;
  max-width: 28%;
  margin-right: 4%;
  display: inline-block;
}
.imgShow{
  border-radius: 15px;
  border: gray 1px solid;
}
.imgDeleteButton{
  width: 20%;
  border-radius: 15px;
  position: relative;
  left: 90%;
  top:-1.2em;
}
.imgItem{
  .item-inner{
    border-bottom: none !important;
  }
}
.myAlertStyle{
  .alert-wrapper{
    background-color: transparent;
    background-image: url("../assets/commonImgs/tc.png");
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 200px;
    padding: 40px 8px 8px 8px;
  }
  .alert-head{
    max-width: 92%;
    margin: 0 auto;
  }
  .alert-title{
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    color:  #4389e8;
  }
  .alert-sub-title{
    //text-overflow: ellipsis;
    //overflow: hidden;
    //white-space: nowrap;
    color: #b0b0b0;
    max-height: 32px;
    overflow: auto;
  }
  .alert-message{
    display: none;
  }
  .alert-button-group{
    padding: 8px;
  }
  .myAlertButtonStyle{
    max-width: 214px;
    margin: 0 auto;
    border-radius: 50px;
    color: white;
    background: linear-gradient(to right,rgb(79,166,243),rgb(42,80,213));
  }
}
.itemContentDiv{
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}
.itemContentLabel{
  white-space:normal;
}
.noFlexLabel {
  flex: none;
}
.departNameDiv{
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: clip;
}
.departNameDiv::-webkit-scrollbar {
  display: none;    /* 隐藏滚动条 */
}
.detailDataLabel{
  margin-top: 6px;
  margin-bottom: 0;
  white-space:normal;
  color:gray
}
.formSelect{
  width: 100%;
  max-width: 100%;
  padding-left: 0;
}
.labelNormal{
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0;
  margin-right: 0;
  padding-right: 4px;
}
.callList{
  margin: 0;
  padding: 8px 16px;
  background: transparent;
  border-radius: 10px;
}
.disContent{
  .callList{
    padding:  0;
  }
}
.cardButton{
  text-align: center;
  margin:auto;
}
.cardDisCheckedIcon{
  color: #dedede;
  font-size: 30px;
}
.cardCheckedIcon{
  color: #4389e8;
  font-size: 30px;
}
.formFooter{
  width: 100%;
  display: flex;
  padding: 5px !important;
  border-top: 1px solid #d9d9d9;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
  background: white;
}
.formFooterButton {
  background: transparent;
  margin: 0 !important;
  padding: 0 !important;
  color: #4389e8;
  width: 100%;
  font-size: 1em;
}
.formFooterIcon{
  font-size: 2em;
  color: #4389e8;
  margin-bottom: 2px;
}
.dataNormal{
  width: 100%;
  max-width: 100%;
  padding:0;
}
.cardSelectInputTextarea{
  width: 100%;
  height: 100px;
  //border: 0;
  border-radius: 10px;
  padding:8px;
}
.footerTextBox{
  width: 100%;
  margin-top: 5px;
}
.footerTextarea{
  margin-top: 2px;
  font-size: 16px;
  width: 100%;
  height: 150px;
  border-width: 2px;
  border-radius: 5px;
}
.formInputButton{
  background: transparent;
  margin: 0 !important;
  padding: 0;
  color: #4389e8;
  font-size: 1.1em;
}
.inputItem{
  .label-ios{
    line-height: 18px;
  }
  .select-ios{
    line-height: 18px;
  }
}
.alertMiddle{
  align-items: center !important;
}
