<ion-header>
  <ion-navbar>
    <ion-title>盘点查询</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="searchListBox">
    <ion-list class="searchList">
      <ion-item class="inputItem">
        <ion-label>盘点计划编码:</ion-label>
        <ion-input readonly class="readonlyInput" [(ngModel)]="plan.planNumber"></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label>盘点计划名称:</ion-label>
        <ion-input readonly class="readonlyInput" [(ngModel)]="plan.planName"></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label>计划下达日期:</ion-label>
        <ion-input readonly class="readonlyInput" [(ngModel)]="plan.startDate"></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label>计划结束日期:</ion-label>
        <ion-input readonly class="readonlyInput" [(ngModel)]="plan.stopDate"></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label>操作人&emsp;:</ion-label>
        <ion-input readonly class="readonlyInput" [(ngModel)]="plan.username"></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label  class="searchSelectLabel">盘点单位:</ion-label>
        <ion-select  class="searchSelect" interface="popover" [(ngModel)]="departCode">
          <ion-option *ngFor="let department of departments" [value]="department.departCode" (ionSelect)="selectDepart()">{{department.departName}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label>资产总数:</ion-label>
        <ion-input readonly class="readonlyInput" [(ngModel)]="plan.number"></ion-input>
      </ion-item>
    </ion-list>
    <ion-toolbar class="searchToolbar">
      <ion-segment [(ngModel)]="planStatus">
        <ion-segment-button value="exist" (click)="readData()">
          存在:{{existNum}}
        </ion-segment-button>
        <ion-segment-button value="will" (click)="readData()">
          未盘:{{willNum}}
        </ion-segment-button>
        <ion-segment-button value="new" (click)="readData()">
          盘盈:{{newNum}}
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <ion-list class="searchDetailList">
      <ion-item class="inputItem" *ngFor="let planDetail of planDetailList" (click)="planListLocalDetailPage(planDetail,2)">
        <div >
          <label>资产名称:</label>
          <input readonly class="readonlyInput" [(ngModel)]="planDetail.assetsName">
        </div>
        <div >
          <label>资产编码:</label>
          <input readonly class="readonlyInput" [(ngModel)]="planDetail.assetsCode">
        </div>
        <div >
          <label>规格型号:</label>
          <input readonly class="readonlyInput" [(ngModel)]="planDetail.assetsStandard">
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
