<ion-header>
  <ion-navbar>
    <ion-title>
      保养提醒详情
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="contentBox">
    <div *ngFor="let item of pageData.pageItem;">
        <div *ngIf="item.itemType=='input'">
          <input-normal [itemName]="item.itemName" [inputType]="item.inputType" [nec]="item.nec" [inputValue]="invoice[item.itemValue]" (hideFooter)="hideFooter()" (backValue)="getInputValue($event,item.itemValue)"></input-normal>
        </div>
        <div *ngIf="item.itemType=='label'">
          <label-normal [itemName]="item.itemName" [labelValue]="invoice[item.itemValue]" [nec]="item.nec"></label-normal>
        </div>
        <div *ngIf="item.itemType=='select'">
          <select-normal [itemName]="item.itemName" [selectData]="item.option" [nec]="item.nec" [selectValue]="invoice[item.itemValue]" [optionValue]="item.optionValueString" [optionName]="item.optionNameString" (backValue)="getSelectValue($event,item.itemValue)"></select-normal>
        </div>
        <div *ngIf="item.itemType=='textarea-readonly'" class="whiteBackground">
          <label-normal [itemName]="item.itemName" [nec]="item.nec"></label-normal>
          <textarea readonly class="formTextarea" [(ngModel)]="invoice[item.itemValue]"></textarea>
        </div>
        <div *ngIf="item.itemType=='textarea'" class="whiteBackground">
          <label-normal [itemName]="item.itemName" [nec]="item.nec"></label-normal>
          <textarea class="formTextarea" [(ngModel)]="detail[item.itemValue]" (focus)="hideFooter()" (blur)="showFooter()"></textarea>
        </div>
      </div>
    <ion-item class="inputItem imgItem">
      <ion-label><span style="color: transparent;padding: 5px;">*</span>照片区&emsp;:</ion-label>
    </ion-item>
    <div class="imgBox">
      <div id="imgBox">
      </div>
    </div>
  </div>
</ion-content>
<footer class="formFooter" padding *ngIf="!isFocus">
  <button class="formFooterButton" (click)="pickPhoto()">
    <ion-icon class="formFooterIcon" name="camera"></ion-icon><br>照片
  </button>
  <button class="formFooterButton" (click)="showMaintenanceStandard()">
    <ion-icon class="formFooterIcon" name="document"></ion-icon><br>查看保养标准
  </button>
  <button class="formFooterButton" (click)="saveForm()">
    <ion-icon class="formFooterIcon" name="checkmark-circle"></ion-icon><br>保存
  </button>
</footer>
