<ion-header>
  <ion-navbar>
    <ion-title>资产查询</ion-title>
  </ion-navbar>
  <ion-toolbar class="queryToolbar" no-border-top style="border-top: 1px solid #c8c7cc;">
    <ion-segment [(ngModel)]="shape">
      <ion-segment-button value="detail" >
        基本信息
      </ion-segment-button>
      <ion-segment-button value="plan" >
        盘点记录
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="switchBox"  [ngSwitch]="shape">
    <div *ngSwitchCase="'detail'">
      <div class="inputItem radioBox" radio-group [(ngModel)]="radioButton">
        <ion-item class="radioItem">
          <ion-label>资产条码:</ion-label>
          <ion-radio value="资产条码"></ion-radio>
        </ion-item>
        <ion-item class="radioItem">
          <ion-label>资产编码:</ion-label>
          <ion-radio value="资产编码"></ion-radio>
        </ion-item>
      </div>
      <ion-item class="inputItem" *ngIf="radioButton == '资产条码'">
        <ion-input [(ngModel)]="barCode" [placeholder]="radioButton" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
        <button item-end class="queryInputButton" (click)="scan()">
          <ion-icon name="qr-scanner"></ion-icon>
        </button>
      </ion-item>
      <ion-item class="inputItem" *ngIf="radioButton == '资产编码'">
        <ion-input [(ngModel)]="assetsCode" [placeholder]="radioButton" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
      </ion-item>
      <ion-list class="callList">
        <ion-item class="inputItem">
          <ion-label>资产编码:</ion-label>
          <ion-input readonly [(ngModel)]="detail.assetsCode"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>资产名称:</ion-label>
          <ion-input readonly [(ngModel)]="detail.assetsName"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>资产条码:</ion-label>
          <ion-input readonly [(ngModel)]="detail.barCode"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>规格型号:</ion-label>
          <ion-input readonly [(ngModel)]="detail.assetsStandard"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>车牌井号:</ion-label>
          <ion-input readonly [(ngModel)]="detail.licenceNumber"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>保管人&emsp;:</ion-label>
          <ion-input readonly [(ngModel)]="detail.userPerson"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>存放地点:</ion-label>
          <ion-input readonly [(ngModel)]="detail.storePlace"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>出厂编号:</ion-label>
          <ion-input readonly [(ngModel)]="detail.productId"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>使用状态编码:</ion-label>
          <ion-input readonly [(ngModel)]="detail.usedState"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>使用状态名称:</ion-label>
          <ion-input readonly [(ngModel)]="detail.usedStateName"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>技术状况:</ion-label>
          <ion-input readonly class="readonlyInput" [(ngModel)]="detail.technicalCondition"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>制造厂家:</ion-label>
          <ion-input readonly [(ngModel)]="detail.makeFactory"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>备&emsp;&emsp;注:</ion-label>
          <ion-input readonly [(ngModel)]="detail.remark"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>净&emsp;&emsp;值:</ion-label>
          <ion-input readonly [(ngModel)]="detail.nowValue"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>原&emsp;&emsp;值:</ion-label>
          <ion-input readonly [(ngModel)]="detail.originalValue"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>累计折旧:</ion-label>
          <ion-input readonly [(ngModel)]="detail.addDepreciate"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>减值准备:</ion-label>
          <ion-input readonly [(ngModel)]="detail.devalueValue"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>所属单位编码:</ion-label>
          <ion-input readonly [(ngModel)]="detail.departCode"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>所属单位名称:</ion-label>
          <ion-input readonly [(ngModel)]="detail.departName"></ion-input>
        </ion-item>
        <ion-item class="inputItem imgItem">
          <ion-label>照片区&emsp;:</ion-label>
        </ion-item>
        <div class="imgBox">
          <div [id]="'imgBox'+pageIndex">
          </div>
        </div>
      </ion-list>
    </div>
    <div *ngSwitchCase="'plan'">
      <ion-list class="callList">
        <ion-item class="inputItem">
          <ion-label>盘点名称:</ion-label>
          <ion-input readonly [(ngModel)]="plan.planName"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>盘点编码:</ion-label>
          <ion-input readonly [(ngModel)]="plan.planNumber"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>所属单位:</ion-label>
          <ion-input readonly [(ngModel)]="plan.managerDepartName"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label>盘点结果:</ion-label>
          <ion-input readonly *ngIf="!plan.checkResult" value="无结果"></ion-input>
          <ion-input readonly *ngIf="plan.checkResult==1" value="存在"></ion-input>
          <ion-input readonly *ngIf="plan.checkResult==2" value="盘亏"></ion-input>
          <ion-input readonly *ngIf="plan.checkResult==3" value="盘盈"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<footer class="queryFooter" padding *ngIf="!isOnfocus&&shape!='plan'&&shape!='result'&&shape!='chart'">
  <button class="queryFooterButton" (click)="query()">
    <ion-icon class="queryFooterIcon" name="search"></ion-icon><br>查询
  </button>
</footer>
