<ion-header>
  <ion-navbar>
    <ion-title>资产查询</ion-title>
  </ion-navbar>
  <ion-toolbar class="queryToolbar" no-border-top>
    <ion-segment [(ngModel)]="shape">
      <ion-segment-button value="detail" >
        基本信息
      </ion-segment-button>
      <ion-segment-button value="plan" >
        盘点记录
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="switchBox"  [ngSwitch]="shape">
    <div *ngSwitchCase="'detail'">
      <div class="radioBox" radio-group [(ngModel)]="radioButton">
        <ion-item class="radioItem">
          <ion-label>资产条码:</ion-label>
          <ion-radio value="资产条码"></ion-radio>
        </ion-item>
        <ion-item class="radioItem">
          <ion-label>资产编码:</ion-label>
          <ion-radio value="资产编码"></ion-radio>
        </ion-item>
      </div>
      <ion-item class="inputItem" *ngIf="radioButton == '资产条码'">
        <ion-input [(ngModel)]="barCode" [placeholder]="radioButton" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
        <button item-end class="queryInputButton" (click)="scan()">
          <ion-icon name="qr-scanner"></ion-icon>
        </button>
      </ion-item>
      <ion-item class="inputItem" *ngIf="radioButton == '资产编码'">
        <ion-input [(ngModel)]="assetsCode" [placeholder]="radioButton" (ionFocus)="inputOnfocus()" (ionBlur)="inputOnblur()"></ion-input>
      </ion-item>
      <ion-list class="callList">
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">资产编码:</ion-label>
          <ion-label class="itemContentLabel">{{detail.assetsCode}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">资产名称:</ion-label>
          <ion-label class="itemContentLabel">{{detail.assetsName}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">资产条码:</ion-label>
          <ion-label class="itemContentLabel">{{detail.barCode}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">规格型号:</ion-label>
          <ion-label class="itemContentLabel">{{detail.assetsStandard}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">车牌井号:</ion-label>
          <ion-label class="itemContentLabel">{{detail.licenceNumber}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">保管人&emsp;:</ion-label>
          <ion-label class="itemContentLabel">{{detail.userPerson}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">存放地点:</ion-label>
          <ion-label class="itemContentLabel">{{detail.storePlace}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">出厂编号:</ion-label>
          <ion-label class="itemContentLabel">{{detail.productId}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">使用状态编码:</ion-label>
          <ion-label class="itemContentLabel">{{detail.usedState}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">使用状态名称:</ion-label>
          <ion-label class="itemContentLabel">{{detail.usedStateName}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">技术状况:</ion-label>
          <ion-label class="itemContentLabel">{{detail.technicalCondition}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">制造厂家:</ion-label>
          <ion-label class="itemContentLabel">{{detail.makeFactory}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">备&emsp;&emsp;注:</ion-label>
          <ion-label class="itemContentLabel">{{detail.remark}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">净&emsp;&emsp;值:</ion-label>
          <ion-label class="itemContentLabel">{{detail.nowValue}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">原&emsp;&emsp;值:</ion-label>
          <ion-label class="itemContentLabel">{{detail.originalValue}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">累计折旧:</ion-label>
          <ion-label class="itemContentLabel">{{detail.addDepreciate}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">减值准备:</ion-label>
          <ion-label class="itemContentLabel">{{detail.devalueValue}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">所属单位编码:</ion-label>
          <ion-label class="itemContentLabel">{{detail.departCode}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">所属单位名称:</ion-label>
          <ion-label class="itemContentLabel">{{detail.departName}}</ion-label>
        </ion-item>
        <ion-item class="inputItem imgItem">
          <ion-label class="noFlexLabel">照片区&emsp;:</ion-label>
        </ion-item>
        <div class="imgBox" *ngIf="detail.imguUrl">
          <div id="imgBox">
            <div class="imgInclusion" *ngFor="let imgSrc of detail.imgUrlArr">
              <img class="imgShow" (click)="showImg(imgUrl+imgSrc)" [src]="imgUrl+imgSrc">
            </div>
          </div>
        </div>
      </ion-list>
    </div>
    <div *ngSwitchCase="'plan'">
      <ion-list class="callList miniContentBox" *ngFor="let planData of plan">
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">盘点名称:</ion-label>
          <ion-label class="itemContentLabel">{{planData.planName}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">盘点编码:</ion-label>
          <ion-label class="itemContentLabel">{{planData.planNumber}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">所属单位:</ion-label>
          <ion-label class="itemContentLabel">{{planData.managerDepartName}}</ion-label>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label class="noFlexLabel">盘点结果:</ion-label>
          <ion-label *ngIf="!planData.checkResult" class="itemContentLabel">无结果</ion-label>
          <ion-label *ngIf="planData.checkResult==1" class="itemContentLabel">存在</ion-label>
          <ion-label *ngIf="planData.checkResult==2" class="itemContentLabel">盘亏</ion-label>
          <ion-label *ngIf="planData.checkResult==3" class="itemContentLabel">盘盈</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<footer class="queryFooter" padding *ngIf="!isOnfocus&&shape!='plan'&&shape!='result'&&shape!='chart'">
  <button class="queryFooterButton" (click)="query()">
    <ion-icon class="queryFooterIcon" name="search"></ion-icon><br>查询
  </button>
</footer>
