<ion-header>
  <ion-navbar>
    <ion-title>数据上传</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="uploadList1">
    <ion-list>
      <ion-item class="inputItem miniContentBox">
        <div (click)="detailPage(zjb,'zjb')">
          <div style="font-weight: bolder">周检表</div>
          <div *ngIf="zjb.length!=0">
            <div  class="itemContentDiv">分公司：<div class="departNameDiv">{{zjb.fgsmc}}</div></div>
            <div  class="itemContentDiv">油站名称：<div class="departNameDiv">{{zjb.yzmc}}</div></div>
            <div  class="itemContentDiv">周检日期：{{zjb.zjrq}}</div>
          </div>
        </div>
        <div item-end  *ngIf="zjb.length!=0" (click)="checkedItem(0)">
          <ion-icon name="checkmark-circle" class="uploadIcon"></ion-icon>
        </div>
      </ion-item>
      <div class="disContent">
        <ion-content>
          <ion-list class="callList">
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">分公司编码:</ion-label>
              <ion-label class="itemContentLabel">{{item.fgsbm}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">油站编码:</ion-label>
              <ion-label class="itemContentLabel">{{item.yzbm}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngIf="itemName=='zjb'">
              <ion-label class="noFlexLabel">周检日期:</ion-label>
              <ion-label class="itemContentLabel">{{item.zjrq}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngIf="itemName=='jjb'">
              <ion-label class="noFlexLabel">交接班日期:</ion-label>
              <ion-label class="itemContentLabel">{{item.jjbrq}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngIf="itemName=='zjb'">
              <ion-label class="noFlexLabel">周检人员:</ion-label>
              <ion-label class="itemContentLabel">{{item.zjry}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngIf="itemName=='jjb'">
              <ion-label class="noFlexLabel">交班人员:</ion-label>
              <ion-label class="itemContentLabel">{{item.jiaobanry}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngIf="itemName=='jjb'">
              <ion-label class="noFlexLabel">接班人员:</ion-label>
              <ion-label class="itemContentLabel">{{item.jiebanry}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">油站名称:</ion-label>
              <ion-label class="itemContentLabel">{{item.yzmc}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">分公司名称:</ion-label>
              <ion-label class="itemContentLabel">{{item.fgsmc}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngFor="let col of colsItemName;let i = index">
              <ion-label class="noFlexLabel">{{col+":"}}</ion-label>
              <ion-label class="itemContentLabel">{{colItem[i]}}</ion-label>
            </ion-item>
            <ion-item class="inputItem imgItem">
              <ion-label class="noFlexLabel">照片区&emsp;:</ion-label>
            </ion-item>
            <div class="imgBox" >
              <div class="imgInclusion" *ngFor="let photo of photoShowArrary">
                <img class="imgShow" (click)="showSign(photo)" src="{{photo}}">
              </div>
            </div>
            <ion-item class="inputItem imgItem" *ngIf="signatureImage1">
              <ion-label class="noFlexLabel">交班人员签字:</ion-label>
            </ion-item>
            <div class="imgBox" *ngIf="signatureImage1">
              <div class="imgInclusion">
                <img class="imgShow" (click)="showSign(signatureImage1)" src="{{signatureImage1}}">
              </div>
            </div>
            <ion-item class="inputItem imgItem" *ngIf="signatureImage2">
              <ion-label class="noFlexLabel">接班人员签字:</ion-label>
            </ion-item>
            <div class="imgBox" *ngIf="signatureImage2">
              <div class="imgInclusion">
                <img class="imgShow" (click)="showSign(signatureImage2)" src="{{signatureImage2}}">
              </div>
            </div>
          </ion-list>
        </ion-content>
      </div>
    </ion-list>
    <ion-list>
      <ion-item class="inputItem miniContentBox">
        <div (click)="detailPage(jjb,'jjb')">
          <div style="font-weight: bolder">交接班</div>
          <div *ngIf="jjb.length!=0">
            <div  class="itemContentDiv">分公司：<div class="departNameDiv">{{jjb.fgsmc}}</div></div>
            <div  class="itemContentDiv">油站名称：<div class="departNameDiv">{{jjb.yzmc}}</div></div>
            <div  class="itemContentDiv">交接日期：{{jjb.jjbrq}}</div>
          </div>
        </div>
        <div item-end *ngIf="jjb.length!=0" (click)="checkedItem(1)">
          <ion-icon name="checkmark-circle" class="uploadIcon"></ion-icon>
        </div>
      </ion-item>
      <div class="disContent">
        <ion-content>
          <ion-list class="callList">
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">分公司编码:</ion-label>
              <ion-label class="itemContentLabel">{{item.fgsbm}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">油站编码:</ion-label>
              <ion-label class="itemContentLabel">{{item.yzbm}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngIf="itemName=='zjb'">
              <ion-label class="noFlexLabel">周检日期:</ion-label>
              <ion-label class="itemContentLabel">{{item.zjrq}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngIf="itemName=='jjb'">
              <ion-label class="noFlexLabel">交接班日期:</ion-label>
              <ion-label class="itemContentLabel">{{item.jjbrq}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngIf="itemName=='zjb'">
              <ion-label class="noFlexLabel">周检人员:</ion-label>
              <ion-label class="itemContentLabel">{{item.zjry}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngIf="itemName=='jjb'">
              <ion-label class="noFlexLabel">交班人员:</ion-label>
              <ion-label class="itemContentLabel">{{item.jiaobanry}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngIf="itemName=='jjb'">
              <ion-label class="noFlexLabel">接班人员:</ion-label>
              <ion-label class="itemContentLabel">{{item.jiebanry}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">油站名称:</ion-label>
              <ion-label class="itemContentLabel">{{item.yzmc}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">分公司名称:</ion-label>
              <ion-label class="itemContentLabel">{{item.fgsmc}}</ion-label>
            </ion-item>
            <ion-item class="inputItem" *ngFor="let col of colsItemName;let i = index">
              <ion-label class="noFlexLabel">{{col+":"}}</ion-label>
              <ion-label class="itemContentLabel">{{colItem[i]}}</ion-label>
            </ion-item>
            <ion-item class="inputItem imgItem">
              <ion-label class="noFlexLabel">照片区:</ion-label>
            </ion-item>
            <div class="imgBox">
              <div class="imgInclusion" *ngFor="let photo of photoShowArrary">
                <img class="imgShow" (click)="showSign(photo)" src="{{photo}}">
              </div>
            </div>
            <ion-item class="inputItem imgItem" *ngIf="signatureImage1">
              <ion-label class="noFlexLabel">交班人员签字:</ion-label>
            </ion-item>
            <div class="imgBox" *ngIf="signatureImage1">
              <div class="imgInclusion">
                <img class="imgShow" (click)="showSign(signatureImage1)" src="{{signatureImage1}}">
              </div>
            </div>
            <ion-item class="inputItem imgItem" *ngIf="signatureImage2">
              <ion-label class="noFlexLabel">接班人员签字:</ion-label>
            </ion-item>
            <div class="imgBox" *ngIf="signatureImage2">
              <div class="imgInclusion">
                <img class="imgShow" (click)="showSign(signatureImage2)" src="{{signatureImage2}}">
              </div>
            </div>
          </ion-list>
        </ion-content>
      </div>
    </ion-list>
  </div>
</ion-content>
<footer class="uploadFooter" padding>
  <button class="uploadFooterButton" (click)="uploadGasInfo()">
    <ion-icon class="uploadFooterIcon" name="cloud-upload"></ion-icon><br>上传
  </button>
</footer>
