<ion-header>
  <ion-navbar>
    <ion-title>数据上传</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="uploadList1">
    <ion-list>
      <ion-item class="inputItem miniContentBox">
        <div (click)="detailPage(zjb,'zjb')">
          <div style="font-weight: bolder">{{pageName+'表'}}</div>
          <div *ngIf="zjb.length!=0">
            <div  class="itemContentDiv">分公司：<div class="departNameDiv">{{zjb.fgsmc}}</div></div>
            <div  class="itemContentDiv">油站名称：<div class="departNameDiv">{{zjb.yzmc}}</div></div>
          </div>
        </div>
        <div item-end style="z-index: 99" *ngIf="zjb.length!=0" (click)="checkedItem(0)">
          <ion-icon name="checkmark-circle" class="uploadIcon"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="pageName == '周检'">
      <ion-item class="inputItem miniContentBox">
        <div (click)="detailPage(jjb,'jjb')">
          <div style="font-weight: bolder">交接班</div>
          <div *ngIf="jjb.length!=0">
            <div  class="itemContentDiv">分公司：<div class="departNameDiv">{{jjb.fgsmc}}</div></div>
            <div  class="itemContentDiv">油站名称：<div class="departNameDiv">{{jjb.yzmc}}</div></div>
          </div>
        </div>
        <div item-end style="z-index: 99" *ngIf="jjb.length!=0" (click)="checkedItem(1)">
          <ion-icon name="checkmark-circle" class="uploadIcon"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<footer class="uploadFooter" padding>
  <button class="uploadFooterButton" (click)="uploadGasInfo()">
    <ion-icon class="uploadFooterIcon" name="cloud-upload"></ion-icon><br>上传
  </button>
</footer>
