page-inventoryQuery{
  .scroll-content{
    background-color: rgb(246,246,246) ;
  }
  .inputItem{
    width: 100%;
    border: 0 !important;
  }
  .list-ios .item-block .item-inner{
    border: 0px;
  }
  .searchList{
    margin-bottom: 12px;
  }
  .searchFormList{
    margin-bottom: 60px;
  }
  .searchSelectLabel{
    flex: none;
  }
  .searchSelect{
    width: 100%;
    max-width: 100%;
  }
  .searchToolbar .toolbar-background-ios{
    background: transparent;
  }
  .searchList .inputItem:last-child{
    width: 100%;
  }
  .list-ios > .item-block:first-child{
    border-top: 0;
  }
  .searchDetailList{
    margin: 0 !important;
  }
  .searchDetailList .inputItem:last-child{
    width: 100%;
  }
  .searchFooter{
    width: 100%;
    display: flex;
    padding: 5px !important;
    border-top: 1px solid #d9d9d9;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    background: white;
  }
  .searchFooterButton {
    background: transparent;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    color: #4389e8;
    font-size: 1em;
  }
  .searchFooterIcon{
    font-size: 2em;
    color: #4389e8;
    margin-bottom: 2px;
  }
  .searchFormList .inputItem:first-child{
    border-top: none;
  }
  .searchFormList .inputItem:last-child{
    border-bottom: none;
  }
  .readonlyInput{
    padding-left: 0;
    width: 56%;
  }
  .miniContentBox{
    width: 95% !important;
    margin: 0 auto;
    margin-top: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 16px;
  }
  .disContent{
    width: 95%;
    margin: 0 auto;
  }
}
