<ion-header>
  <ion-navbar>
    <ion-title>{{pageName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="searchListBox">
    <ion-list class="searchList">
      <div *ngFor="let item of pageData.pageItem;">
        <div *ngIf="item.itemType=='label'">
          <label-normal [itemName]="item.itemName" [labelValue]="plan[item.itemValue]"></label-normal>
        </div>
        <div *ngIf="item.itemType=='select'">
          <select-normal [itemName]="item.itemName" [selectData]="item.option" [selectValue]="item.itemValue" [optionValue]="item.optionValueString" [optionName]="item.optionNameString" (backValue)="selectDepart($event)"></select-normal>
        </div>
      </div>
    </ion-list>
    <ion-toolbar class="searchToolbar">
      <ion-segment [(ngModel)]="planStatus">
        <ion-segment-button value="exist" (click)="readData()">
          {{existName}}：{{existNum}}
        </ion-segment-button>
        <ion-segment-button value="will" (click)="readData()">
          未盘：{{willNum}}
        </ion-segment-button>
        <ion-segment-button value="new" (click)="readData()">
          盘盈：{{newNum}}
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <card-normal [cardData]="pageData.cardItem" [data]="planDetailList"></card-normal>
    <ion-infinite-scroll *ngIf="page>-1" (ionInfinite)="getMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
