page-mine {
  .scroll-content{
    overflow: hidden;
  }
  .appsButton{
    font-size: 18px;
    text-align: left;
    line-height: 18px;
    display: table;
  }
  .appsButtonIcon{
    font-size: 30px;
    display: table-cell;
  }
  .appDiv{
    padding-left: 10px;
    vertical-align: middle;
    display: table-cell;
  }
}
