<ion-header>
  <ion-navbar>
    <ion-title>
      {{pageName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="userInfoBox">
    <div class="userPhotoBox" item-start>
      <img class="userPhoto" src="assets/minePageImgs/touxiang.png">
    </div>
    <div class="userTextBox" item-end>
      <div class="userName">{{userName}}</div>
      <div class="userDepart">{{departName}}</div>
    </div>
  </div>
  <div *ngFor="let Data of pageData">
    <button *ngFor="let data of Data" class="appsButton" (click)="appChoose(data[0],data[1])">
      <div class="appsButtonIconBox">
        <img [src]="'assets/minePageImgs/'+data[2]">
      </div>
      <div class="appDiv">{{data[3]}}</div>
    </button>
  </div>
</ion-content>
