page-approval{
  .scroll-content{
    background-color: rgb(246,246,246) ;
  }
  .searchFormList {
    margin-bottom: 60px;
  }
  .callList{
    padding-right: 0;
  }
  .inputItem .item-inner{
    padding-right: 0 !important;
  }
}
