page-RFIDSpecScanList{
  .scroll-content{
    background-color: rgb(246,246,246) ;
  }
  .label-ios{
    margin-right: 0;
  }
  .formInfoBox{
    margin-bottom: 60px;
  }
  .imgItem{
    .item-inner{
      border-bottom: none !important;
    }
  }
}
