page-ledgerQuery{
  .scroll-content{
    background: #f6f6f6;
    margin-bottom: 65px;
    .scroll-content{
      background: white;
      margin: 0;
    }
  }
  .queryToolbar .toolbar-background-ios{
    background: white;
  }
  .switchBox{
    margin-bottom: 60px;
  }
  .switchBoxTop{
    margin-bottom: 0;
  }
  .switchList .inputItem:last-child{
    width: 100%;
  }
  .queryInputButton{
    background: transparent;
    margin: 0 !important;
    padding: 0;
    font-size: 1.1em;
  }
  .imgItem{
    //.item-inner{
    //  border-bottom: none !important;
    //}
  }
  .queryFooter{
    width: 100%;
    display: flex;
    padding: 5px !important;
    border-top: 1px solid #d9d9d9;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    background: white;
  }
  .queryFooterButton {
    background: transparent;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    color: #4389e8;
    font-size: 1em;
  }
  .queryFooterIcon{
    font-size: 2em;
    color: #4389e8;
    margin-bottom: 2px;
  }
  .querySelectLabel{
    flex: none;
  }
  .querySelect{
    width: 100%;
    max-width: 100%;
  }
  .readonlyInput{
    width: 63%;
  }
  .imgItemStartBox{
    text-align: center;
    width: 20%;
    margin: 8px !important;
  }
  .imgItemStart{
    width: 100%;
  }
  .infoList{
    margin: 0 !important;
  }
  .infoList .inputItem{
    border-bottom: 0.55px solid #c8c7cc;
    margin-left: 16px;
    padding-left: 0;
    width: calc(95% - 16px) !important;
  }
  .infoList .inputItem .item-inner{
    border: none;
  }

  .chart {
    position: absolute;
    width: 100%;
    height: 40%;
  }
  #chart1{
    top: 10%;
  }
  #chart2{
    top: 60%;
  }
  #chart3{
    top: 110%;
  }
  #chart4{
    top: 160%;
  }
  .inputItem{
    width: 100%;
    padding-right: 16px;
    border: 0 !important;
  }
  .list-ios .item-block .item-inner{
    border: 0 !important;
  }
  .item-ios.item-block .item-inner{
    border: 0 !important;
  }
  .miniContentBox{
    width: 95% !important;
    margin: 0 auto;
    margin-top: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 16px;
  }
  .disContent{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 16px;
    background-color: white;
  }
}
