<ion-header>
  <ion-navbar>
    <ion-title>台账查询</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <ion-list class="switchList switchBoxTop">
      <ion-item class="inputItem">
        <ion-label class="querySelectLabel">资产类型:</ion-label>
        <ion-select class="querySelect" interface="popover" [(ngModel)]="assetsType">
          <ion-option value="0101">固定资产</ion-option>
          <ion-option value="0103">投资性房地产</ion-option>
          <ion-option value="0104">实物长摊</ion-option>
          <ion-option value="0105">租入资产</ion-option>
          <ion-option value="0106">租出资产</ion-option>
          <ion-option value="0107">低值资产</ion-option>
          <ion-option value="0201">无形资产</ion-option>
          <ion-option value="0301">长待摊费用</ion-option>
          <ion-option value="0108">待处置资产</ion-option>
        </ion-select>
      </ion-item>
      <select-filter [itemName]="'所属单位'" [selectData]="lastDepartListData" [selectName]="departName" [optionValue]="'departcode'" [optionName]="'departname'" (backValue)="getSelectValue($event)"></select-filter>
      <ion-item class="inputItem">
        <ion-label class="noFlexLabel">保管人&emsp;:</ion-label>
        <ion-input [(ngModel)]="userPerson"  (focus)="inputOnfocus()" (blur)="inputOnblur()"></ion-input>
      </ion-item>
    </ion-list>
    <ion-item class="inputItem" *ngIf="detail.count">
      总条数&emsp;：{{detail.count}}
    </ion-item>
    <ion-list class="switchList switchBox infoList" *ngFor="let detailInfo of detail;let i = index" >
      <ion-item class="inputItem miniContentBox" (click)="displayContent(i)">
        <div class="imgItemStartBox" item-start >
          <img class="imgItemStart" [src]="detailInfo.imguUrl" onerror="this.src='assets/imgs/default.png'">
        </div>
        <div class="itemContentDiv">
          资产编号：{{detailInfo.assetsCode}}
        </div>
        <div class="itemContentDiv">
          资产名称：{{detailInfo.assetsName}}
        </div>
        <div *ngIf="pageIndex==2" class="itemContentDiv">
          保管人&emsp;：{{detailInfo.userPerson}}
        </div>
        <div *ngIf="pageIndex==2" class="itemContentDiv">
          所属单位：<div class="departNameDiv">{{detailInfo.departName}}</div>
        </div>
      </ion-item>
      <div class="disContent">
        <ion-content>
          <ion-list class="callList">
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">资产编码:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.assetsCode}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">资产名称:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.assetsName}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">资产条码:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.barCode}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">规格型号:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.assetsStandard}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">车牌井号:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.licenceNumber}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">保管人&emsp;:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.userPerson}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">存放地点:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.storePlace}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">出厂编号:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.productId}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">使用状态编码:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.usedState}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">使用状态名称:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.usedStateName}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">技术状况:</ion-label>
              <ion-label class="noFlexLabel">{{detailInfo.technicalCondition}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">制造厂家:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.makeFactory}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">备&emsp;&emsp;注:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.remark}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">净&emsp;&emsp;值:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.nowValue}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">原&emsp;&emsp;值:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.originalValue}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">累计折旧:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.addDepreciate}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">减值准备:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.devalueValue}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">所属单位编码:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.departCode}}</ion-label>
            </ion-item>
            <ion-item class="inputItem">
              <ion-label class="noFlexLabel">所属单位名称:</ion-label>
              <ion-label class="itemContentLabel">{{detailInfo.departName}}</ion-label>
            </ion-item>
            <ion-item class="inputItem imgItem">
              <ion-label class="noFlexLabel">照片区&emsp;:</ion-label>
            </ion-item>
            <div class="imgBox" *ngIf="detailInfo.imguUrl">
              <div id="imgBox">
                <div class="imgInclusion">
                  <img class="imgShow" [src]="detailInfo.imguUrl">
                </div>
              </div>
            </div>
          </ion-list>
        </ion-content>
      </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="getMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
<footer class="queryFooter" padding *ngIf="!isOnfocus&&shape!='plan'&&shape!='result'&&shape!='chart'">
  <button class="queryFooterButton" (click)="query()">
    <ion-icon class="queryFooterIcon" name="search"></ion-icon><br>查询
  </button>
</footer>
