<ion-header>
  <ion-navbar>
    <ion-title>台账查询</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <ion-list class="switchList switchBoxTop">
      <ion-item class="inputItem">
        <ion-label class="querySelectLabel">资产类型:</ion-label>
        <ion-select class="querySelect" interface="popover" [(ngModel)]="assetsType">
          <ion-option value="0101">固定资产</ion-option>
          <ion-option value="0103">投资性房地产</ion-option>
          <ion-option value="0104">实物长摊</ion-option>
          <ion-option value="0105">租入资产</ion-option>
          <ion-option value="0106">租出资产</ion-option>
          <ion-option value="0107">低值资产</ion-option>
          <ion-option value="0201">无形资产</ion-option>
          <ion-option value="0301">长待摊费用</ion-option>
          <ion-option value="0108">待处置资产</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label>所属单位:</ion-label>
        <ion-input (change)="filterDepartName($event)" [(ngModel)]="departName" (focus)="inputOnfocus()" (blur)="inputOnblur()" placeholder="请输入要筛选的字符"></ion-input>
        <ion-select class="noSelectText" interface="popover"  [(ngModel)]="departCode">
          <ion-option *ngFor="let depart of lastDepartListData" [value]="depart.departcode" (ionSelect)="selectDepart(depart.departname)">{{depart.departname}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label>保管人&emsp;:</ion-label>
        <ion-input [(ngModel)]="userPerson"  (focus)="inputOnfocus()" (blur)="inputOnblur()"></ion-input>
      </ion-item>
    </ion-list>
    <ion-item class="inputItem" *ngIf="detail.count">
      总条数&emsp;：<input readonly class="readonlyInput" [(ngModel)]="detail.count">
    </ion-item>
    <ion-list class="switchList switchBox infoList" *ngFor="let detailInfo of detail;let i = index" >
      <ion-item class="inputItem" (click)="displayContent(i)">
        <div class="imgItemStartBox" item-start >
          <img class="imgItemStart" [src]="detailInfo.imguUrl" onerror="this.src='assets/imgs/default.png'">
        </div>
        <div>
          资产编号：<input readonly class="readonlyInput" [(ngModel)]="detailInfo.assetsCode">
        </div>
        <div>
          资产名称：<input readonly class="readonlyInput" [(ngModel)]="detailInfo.assetsName">
        </div>
        <div *ngIf="pageIndex==2">
          保管人&emsp;：<input readonly class="readonlyInput" [(ngModel)]="detailInfo.userPerson">
        </div>
        <div *ngIf="pageIndex==2">
          所属单位：<input readonly class="readonlyInput" [(ngModel)]="detailInfo.departName">
        </div>
      </ion-item>
      <ion-content class="disContent">
        <ion-list class="callList">
          <ion-item class="inputItem">
            <ion-label>资产编码:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.assetsCode"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>资产名称:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.assetsName"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>资产条码:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.barCode"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>规格型号:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.assetsStandard"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>车牌井号:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.licenceNumber"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>保管人&emsp;:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.userPerson"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>存放地点:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.storePlace"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>出厂编号:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.productId"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>使用状态编码:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.usedState"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>使用状态名称:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.usedStateName"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>技术状况:</ion-label>
            <ion-input readonly class="readonlyInput" [(ngModel)]="detailInfo.technicalCondition"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>制造厂家:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.makeFactory"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>备&emsp;&emsp;注:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.remark"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>净&emsp;&emsp;值:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.nowValue"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>原&emsp;&emsp;值:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.originalValue"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>累计折旧:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.addDepreciate"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>减值准备:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.devalueValue"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>所属单位编码:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.departCode"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label>所属单位名称:</ion-label>
            <ion-input readonly [(ngModel)]="detailInfo.departName"></ion-input>
          </ion-item>
          <ion-item class="inputItem imgItem">
            <ion-label>照片区&emsp;:</ion-label>
          </ion-item>
          <div class="imgBox">
            <div id="imgBox">
            </div>
          </div>
        </ion-list>
      </ion-content>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="getMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
<footer class="queryFooter" padding *ngIf="!isOnfocus&&shape!='plan'&&shape!='result'&&shape!='chart'">
  <button class="queryFooterButton" (click)="query()">
    <ion-icon class="queryFooterIcon" name="search"></ion-icon><br>查询
  </button>
</footer>
