<ion-header>
  <ion-navbar>
    <ion-title>
      定制
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="splitBar">
    <div class="splitLine"></div>
    <div class="splitCenterText">常用应用</div>
  </div>
  <div class="appsButtonBigBox">
    <div class="appsButtonBox" *ngFor="let item of disAppData;let i = index">
      <button class="appsButton" *ngFor="let item2 of item;let i2 = index">
        <div *ngIf="item2.src" class="overIcon1" item-end (click)="$event.cancelBubble=true;deleteApp(i,i2)">
          <ion-icon name="close-circle"></ion-icon>
        </div>
        <div *ngIf="item2.src" class="appsButtonIconBox2" >
          <img [src]="item2.src">
        </div>
        <br>{{item2.text}}
      </button>
    </div>
  </div>
  <div class="splitBar">
    <div class="splitLine"></div>
    <div class="splitCenterText">全部应用</div>
  </div>
  <div class="appsButtonBigBox">
    <div class="appsButtonBox" *ngFor="let item of disAllAppData;let i = index">
      <button class="appsButton" *ngFor="let item2 of item;let i2 = index">
        <div *ngIf="item2.src" class="overIcon2" item-end (click)="$event.cancelBubble=true;addApp(i,i2)">
          <ion-icon name="add-circle"></ion-icon>
        </div>
        <div *ngIf="item2.src" class="appsButtonIconBox2" >
          <img [src]="item2.src">
        </div>
        <br>{{item2.text}}
      </button>
    </div>
  </div>
</ion-content>
<footer class="formFooter" padding>
  <button class="formFooterButton" (click)="saveData()">
    <ion-icon class="formFooterIcon" name="checkmark-circle"></ion-icon><br>保存
  </button>
</footer>
